<h1>Static#welcome</h1>
<p>Find me in app/views/static/welcome.html.erb</p>
<div id="posts">
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="post in posts">
        <td>{{ post.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="app">
  <p v-if="show"> You can see me!</p>
  <p v-else>  Do you also see me?</p>
  <p> {{ title }}</p>
  <p v-once> {{ title }}</p>
  <p v-html=htmlLink> </p>
  <input id="input1" type="text" v-on:input="changeTitle">
  <br />
  <button v-on:click="increase">Click me</button>
  <p> {{ counter  }}</p>
  <button @click="show = !show">HIDE ME </button>
  <hr>
  <ala></ala>
  <hr>
  <ala></ala>
</div>
